@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
   margin: 0 auto;
   padding: 0;
   color: white;
   background-color: #1a1a1a;
   font-family: "Roboto", sans-serif;
   max-width: 1430px;
}

h1 {
   margin: 30px 0 0 0;
   padding: 20px 0;
}

h2 {
   color: #f2bb15;
   text-align: center;
   font-size: 35px;
   margin: 40px 0 10px 0;
}

h4 {
   margin: 10px 0;
}

label {
   width: 90px;
   padding: 10px;
   margin: 10px 0;
   text-align: center;
   background-color: #f2bb15;
   color: #1a1a1a;
   border-radius: 2px;
   cursor: pointer;
   font-weight: bold;
   transition: background-color 0.3s;
}

label:hover {
   background-color: #ddaf24;
}

label:active {
   background-color: #bd8f07;
}

.title-bar {
   font-family: "Bebas Neue";
   font-size: 6em;
   letter-spacing: 10px;
   color: #f2bb15;
   text-align: center;
}

.filter-bar {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 auto;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
   visibility: hidden;
}

#movie-html-container-id {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

li {
   padding: 20px;
   list-style-type: none;
}

.star-icon {
   fill: #ffd000;
}

@media screen and (max-width: 1150px) {
   label {
      display: flex;

      justify-content: center;
      width: 70px;
      min-width: 90px;
      font-size: 0.9em;
   }
}
